.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
  
}

/* Sidebar links */
.sidenav a {
  display: flex;               /* key fix */
  align-items: center;         /* vertical alignment */
  gap: 12px;                   /* spacing between icon & text */
  /* padding: 10px 16px; */
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  transition: background 0.2s ease, color 0.2s ease, border-radius 0.2s ease, box-shadow 0.2s ease;
  border-radius: 0; /* start square so hover can curve the outside */
  margin-left: 10px;
  padding: 12px 18px;
  position: relative;
}


/* Hover */
.sidenav a:hover {
  color: #ff7a00;
  
}

/* Logo */
.sidenav img {
  height: 40px;
}

/* Material Icons */
.material-symbols-rounded {
  font-size: 22px;
  line-height: 1;
}

/* Remove old span spacing */
.sidenav a span {
  margin-right: 0;
}

.menu{
    margin-top: 20px;
}

.sidenav a.active {
  /* background-color: #FFF8F4; */
  background-color: #f9f8f6;
  color: #eb9525;
  font-weight: 500;
  border-radius: 30px 0px 0px 30px;
}

/* Top outer curve */
.sidenav a.active::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 #f9f8f6;
}

/* Bottom outer curve */
.sidenav a.active::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 #f9f8f6;
}

